/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*  CSS VARIABLES */
:root {
  --color-first: hsl(88, 46%, 39%);
  --color-second: #1a250e;
  --color-third: #e6f1da;
  --color-fourth: #f3f8ec;
  --color-white: #fff;
  /* Font Size */
  --text-large: 50px;
  --text-medium: 40px;
  --text-small: 15px;
  --text-regular: 18px;
  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* Box Shadow */
  --box-shadow-main: 0px 15px 30px rgba(26, 37, 14, 0.1);
  /* Border radius */
  --border-radius: 5px;
  /* transition */
  --animate: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: "Merriweather", serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: var(--text-regular);
  font-weight: 300;
  color: var(--color-second);
  line-height: 159.1%;
}
h1,
h2 {
  color: var(--color-second);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  text-transform: capitalize;
}
h1 {
  font-size: var(--text-large);
  margin-bottom: 25px;
}
h2 {
  font-size: var(--text-medium);
  margin-bottom: 25px;
}
h3 {
  color: var(--color-first);
  font-size: var(--text-small);
  font-weight: var(--font-weight-regular);
  margin-bottom: 13px;
}
input:focus {
  outline: none;
}
.img-fluid {
  width: 100%;
}
/* Classes */
main {
  overflow-x: hidden;
}
.ptb-100 {
  padding: 100px 0;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 12px 30px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-first);
  color: var(--color-white);
  border-radius: var(--border-radius);
  letter-spacing: 1.1px;
  box-shadow: 0px 15px 40px rgba(102, 145, 53, 0.4);
  transition: var(--animate);
  text-align: center;
  text-transform: capitalize;
  border: 1px solid var(--color-first);
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--color-first);
  box-shadow: none;
}
/* section title */
.title-section {
  width: 100%;
  text-align: center;
}
.title-section p {
  width: 50%;
  margin: 0 auto;
}

/* Navbar */
header {
  height: 83px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: var(--color-white);
  transition: var(--animate);
}
header.fixed {
  height: 70px;
  box-shadow: var(--box-shadow-main);
}
header.fixed nav {
  height: 70px;
  padding: 15px 0;
}
nav {
  height: 83px;
  width: 100%;
  padding: 20px 0;
  transition: var(--animate);
}
.navigation-bar ul li {
  position: relative;
  display: inline-block;
  margin: 0 25px;
}
.navigation-bar ul li:last-child {
  margin-right: 0;
}
.navigation-bar ul li a {
  position: relative;
  font-size: var(--text-regular);
  color: var(--color-second);
  font-weight: var(--font-weight-regular);
  text-transform: capitalize;
  transition: var(--animate);
}
.navigation-bar ul li a:hover,
.navigation-bar ul li.active a {
  color: var(--color-first);
}
.navigation-bar ul li a.btn {
  color: var(--color-white);
}
.navigation-bar ul li a.btn:hover {
  color: var(--color-first);
}
.navigation-bar ul li.active::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -5px;
  left: 0;
  margin: auto;
  width: 15px;
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--color-first);
}

/* Toggle bar */
.burger {
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger img {
  width: 100%;
}
.toggle-open.open {
  display: none;
}
.toggle-close {
  display: none;
}
.toggle-close.close {
  display: block;
}
@media (min-width: 991px) {
  .navigation-bar {
    display: block !important;
  }
}
@media (max-width: 990px) {
  .burger {
    display: block;
    position: absolute;
    right: 20px;
  }
  .navigation-bar {
    display: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(--color-second);
    padding: 20px 0;
    z-index: 2;
  }
  .navigation-bar ul li {
    display: block;
    margin: 15px 0;
  }
  .navigation-bar ul li a {
    color: var(--color-third);
  }
  .navigation-bar ul li.active::after {
    right: 0;
  }
}
/* Home Section */
.home {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding-top: 90px;
  align-items: center;
  background-color: var(--color-fourth);
}
.home img {
  position: absolute;
  right: 0;
  width: 45%;
  top: 0;
  height: 100vh;
  object-fit: cover;
}
.home-wrapper .col {
  width: 50%;
}
.col p {
  width: 81%;
  margin-bottom: 50px;
}
/* Brand */
.brand-wrapper {
  flex-wrap: wrap;
}
.brand img {
  margin: 0 34px;
}
.brand img:last-child {
  margin-right: 0px;
}
/* Product Section */
.product-wrapper {
  width: 100%;
  margin-top: 80px;
  flex-wrap: wrap;
}
.product-item {
  flex: 0 0 30%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-main);
  cursor: pointer;
  margin: 0 31px 31px 0;
}
.product-item img {
  border-radius: 5px 5px 0 0;
}
.product-item .product-content {
  width: 100%;
  padding: 30px 30px;
}
.product-content h3 {
  font-size: 18px;
  color: rgba(26, 37, 14, 0.7);
}
.product-content h3 span {
  color: var(--color-first);
}
/* About  */
.aboutus-wrapper {
  flex-wrap: wrap;
}
.aboutus-img {
  width: 55%;
}
.aboutus-content {
  width: 45%;
  padding-left: 60px;
}
.aboutus-content p {
  margin-bottom: 15px;
}
.aboutus-content a.btn {
  margin-top: 50px;
}
/*Newsletter */
.newsletter-wrapper {
  width: 42%;
  margin: 50px auto 0;
  flex-wrap: wrap;
}
.newsletter-wrapper input {
  width: 330px;
  background-color: var(--color-third);
  height: 50px;
  border-radius: var(--border-radius);
  padding: 0 25px;
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-first);
  border: 0px;
}
.newsletter-wrapper input::placeholder {
  color: var(--color-first);
}
.newsletter-wrapper a.btn {
  padding: 16px 30px;
  margin-left: 10px;
}
/* Footer */
footer {
  background-color: var(--color-second);
  text-align: center;
}
footer ul {
  margin-top: 50px;
}
footer ul li {
  display: inline-block;
  margin-right: 30px;
}
footer ul li:last-child {
  margin-right: 0px;
}
footer ul li a {
  color: var(--color-fourth);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  transition: var(--animate);
}
footer ul li a:hover {
  color: var(--color-first);
}
.copyright {
  width: 100%;
  margin-top: 70px;
  padding: 25px 0;
  border-top: 1px solid #344a1c;
}
.copyright h4 {
  text-align: center;
  color: var(--color-fourth);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
}
.copyright h4 span {
  font-size: var(--text-small);
  margin: 0 5px;
  color: #da2b2b;
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}

/* Scroll up */
.scrollup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: var(--border-radius);
  position: fixed;
  bottom: -10px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, bottom 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  cursor: pointer;
  box-shadow: var(--box-shadow-main);
}
.scrollup.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
/* media queries */

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .ptb-100 {
    padding: 70px 0;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .home {
    padding: 150px 0;
  }
  .home-wrapper .col {
    width: 100%;
  }
  .col p {
    width: 100%;
    margin-bottom: 30px;
  }
  .home img {
    display: none;
  }
  .brand img {
    margin: 0 0 20px;
    flex: 0 0 120px;
  }
  .title-section p {
    width: 100%;
  }
  .product-item {
    flex: 0 0 100%;
  }
  .aboutus-img {
    width: 100%;
  }
  .aboutus-content {
    width: 100%;
    padding: 20px;
  }
  .newsletter-wrapper {
    width: 100%;
    justify-content: center;
  }
  .newsletter-wrapper a.btn {
    margin: 10px 0 0;
  }
  footer ul li {
    display: block;
    margin: 0px 0 10px;
  }
  .copyright {
    margin-top: 55px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 25px;
  }
  .home {
    min-height: 70vh;
  }
  .home img {
    width: 50%;
    height: 70vh;
  }
  .brand img {
    margin: 0 0 20px;
  }
  .product-item {
    flex: 0 0 47%;
    margin: 0 0 31px 0;
  }
  .aboutus-content {
    padding-left: 20px;
  }
  .aboutus-content a.btn {
    margin-top: 10px;
  }
  .newsletter-wrapper {
    width: 68%;
  }
}
@media (min-width: 1024px) and (max-width: 1230px) {
  .container {
    padding: 0 25px;
  }
  .home img {
    width: 55%;
  }
  .newsletter-wrapper {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  :root {
    --text-large: 37px;
    --text-medium: 25px;
  }
  h1 {
    line-height: 50px;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
}




/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.logo-carousel {
  overflow: inherit;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: rgb(8, 2, 2);
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}


  
.row {
  overflow: hidden;
}  

/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}








* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



.mySlides img {
  max-width: 70em;
  max-height: 25rem;
  margin: 0 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column img {
    max-width: 15em;
    max-height: 5rem;
    margin: 0 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}